<%= form_for @comment do |f| %>
  <p>
    <%= f.text_field :body, size: '40', placeholder: 'Typing your comment here' %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable.class.name %>
    <%= f.submit 'Post Comment' %>
  </p>
<% end %>