<div id="full-page">
  <div id="top-bar">
    <div class="col-md-8" id="header-box">
      <h2>Welcome to the movie database(camp)</h2>
      <p>
        Feel free to peruse our database of movies! Create an account to add a movie, comment on movies, create a favorites list or a watch list.
      </p>
      <br>
      <% if logged_in? %>
      <h4><%= link_to 'Add a movie', new_movie_path %></h4>
      <% end %>
    </div>

    <div id="act-feed" class="col-md-4">
      <h3> Activity Feed </h3>
      <table>
        <tr>
          <th>Last 3 movies added to IMDbc</th>
        </tr>
        <% @moviesRecent.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
        </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <th>Movies most recently commented on</th>
        </tr>
        <% @recentMoviesCommented.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div id="movie-list">
    <% @movies.each do |movie| %>
    <div class="col-md-4">
      <strong><%= link_to movie.title, movie_path(movie) %></strong><br>
      <%= image_tag movie.boxart_url,  :size => "240x320" %>
    </div>
    <% end %>
  </div>
</div>
