<!-- Movie poster image
movie details
add to favorite
add to watchlist

comments section
add comment
recursive
 -->

 <h1><%= @movie.title %></h1>

<div>
  <%= image_tag(@movie.boxart_url, alt: @movie.title + " boxart") %>
  <p>Released: <%= @movie.year %></p>
  <p>Lead Actor: <%= @movie.lead_actor %></p>
  <p>Profile Created By: <%= @movie.creator.username %></p>
</div>

<% if flash[:notice] %>
  <% flash[:notice].each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
<% end %>

<h2>Comments</h2>