<h1>Profile Page</h1>
<p>
	<strong>Username:</strong>
	<%= @user.username %>
</p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<h4><%= link_to 'Favorites list', user_favorites_path(@user) %></h4>
<h4><%= link_to 'Watch list', user_watches_path(@user) %></h4>

<div>
	<h2>Movies You've Added</h2>
	<div id="movie-list">
	  <% @movies.each do |movie| %>
	  <div class="col-md-4">
	    <strong><%= link_to movie.title, movie_path(movie) %></strong><br>
	    <%= image_tag movie.boxart_url,  :size => "240x320" %>
	  </div>
	  <% end %>
	</div>
</div>



<div class="col-md-12">
	<h2>Movies you have commented on:</h2>
	<ul>
		<% @com_movies.each do |movie| %>
		<li><%= link_to movie.title, movie_path(movie) %></li>
		<% end %>
	</ul>
</div>
