<h3><%= @user.username %>'s Watch List</h3>
<strong><%= link_to 'Back to profile page', user_path(@user) %></strong>
<br>
<br>
<% if @movies == [] %>
<p>
	<%= @user.username %> hasn't added any movies to his watch list.
</p>
<% else %>
<div id="movie-list">
	<% @movies.each do |movie| %>
	<div class="col-md-4">
		<strong><%= link_to movie.title, movie_path(movie) %></strong><br>
		<%= image_tag movie.boxart_url,  :size => "240x320" %>
	</div>
	<% end %>
</div>
<% end %>
